# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Formale Sprachen und Compiler\Lab1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
