.Drama {
	background-color: #800b51;
}

.Comedy {
	background-color: #eb44b0;
}

.Action {
	background-color: #029acc;
}

.Documentary {
	background-color: #dbbb18;
}

.Crime {
	background-color: #096b20;
}

.Thriller {
	background-color: #bd0606;
}

.Family {
	background-color: #e69215;
}

.Biography {
	background-color: #bf15e6;
}